* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-weight: 300;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: slateblue;
}

main section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    padding: 1rem;
    background: lightseagreen;
    border-radius: 1rem;
    gap: 2rem;
}

main section .left {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: slateblue;
    border-radius: 0.6rem;
    padding: .4rem;
}

main section .left input {
    width: 100%;
    outline: none;
    border: none;
    padding: 0.4rem 1rem;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 0.5rem;
}

main section .left .addBtn {
    background: lightseagreen;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-weight: 900;
    font-size: 2rem;
}

main section .left .addBtn:active {
    scale: 0.96;
    filter: brightness(3) contrast(3);
    color: #000;
}

main section .right {
    width: 70%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    background: palevioletred;
    padding: 1rem;
    border-radius: 0.6rem;
    gap: 0.5rem;
    overflow-y: scroll;
}

main section .right::-webkit-scrollbar {
    display: none;
}

main section .right .todo {
    background: darkturquoise;
    padding: 0.5rem;
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    border-radius: 0.4rem;
    min-height: 80px;
}


main section .right .todo .deleteBtn{
    background: crimson;
    border-radius: .3rem;
    position: absolute;
    right: 2%;
    bottom: 1%;
    border: none;
    outline: none;
    padding: .2rem .5rem;
    font-weight: 800;
}



main section .right .todo .deleteBtn:active{
    scale: .97;
    filter: brightness(.7) contrast(3);
}