* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-weight: normal;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00aaff, #00ff6c);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background: rgba(255, 255, 255, 0.75);
}

.calculator-grid button:hover {
    background: rgba(255, 255, 255, 0.9);
}

.calculator-grid .span-two {
    grid-column: span 2;
}

.calculator-grid .output {
    grid-column: 1/-1;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 0.7rem;
    word-wrap: break-word;
    word-break: break-all;
}


.calculator-grid .output .previous-operand{
    color: rgba(255, 255, 255, .75);

    font-size: 1.5rem;
}
.calculator-grid .output .current-operand{
    color: rgba(255, 255, 255, 1);

    font-size: 2.5rem;
}