* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #1b1b1b;
}

main section {
    width: 60%;
    height: 80%;
    background: #8a8989;
    border-radius: 0.6rem;
    padding: 0.8rem;

    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
}

main section .top {
    background: rgb(71, 196, 152);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
}

main section .top .top-child {
    background: #ebf0f0;
    padding: 0.4rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;

    outline: none;
    border: none;
}

main section .top .top-child:active {
    scale: 0.96;
    filter: brightness(2) contrast(2) saturate(2);
}

main section .top .select {
    background: rgb(196, 67, 155);
}

main section .top .add {
    background: chocolate;
}

main section .middle {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    padding: 1rem;
    background: #e4dddd;
    overflow-y: scroll;
}

main section .middle::-webkit-scrollbar {
    display: none;
}

main section .middle .mid-child {
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 0.5rem;
}

main section .middle .mid-child .right {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

main section .middle .mid-child .right .delete {
    background: rgb(68, 52, 55);
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    border: none;
    font-weight: 600;
    color: wheat;
}

main section .middle .mid-child .right .delete:active {
    scale: 0.96;
    filter: brightness(1.5);
}

main section .middle .expense {
    color: red;
}

main section .middle .income {
    color: lightseagreen;
}

main section .bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    gap: 2rem;
    background: #f1eaea;
    border-radius: .4rem;
}

main section .bottom .bottom-child {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .4rem;
    font-weight: 600;
}

main section .bottom .t-expense{
    color: crimson;
}

main section .bottom .t-income {
    color: lightseagreen;
}

main section .bottom .balance{
    color: #16749c;
    font-size: 1.4rem;
    background: #ffffff;
    border-radius: .4rem;
}