* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-weight: 300;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    background: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section {
    width: 300px;
    display: flex;
    flex-direction: column;
    background: slategray;
    padding: 0.5rem;
    border-radius: 0.4rem;
    gap: 1rem;
}

main section .display {
    width: 100%;
    padding: 0.4rem;
    background: pink;
    text-align: center;
    color: whitesmoke;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
    color: crimson;
}

main section .btn {
    width: 32%;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background: lightseagreen;
    color: white;
    font-size: 1rem;
    font-weight: 900;
}

main section .btn:active {
    scale: 0.98;
    background: rgb(21, 141, 135);
}
